:root {
    --amazon-yellow: #f0c14b;
    --amazon-blue: #0066c0;
}

* {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    padding-top: 0.5rem;
    text-align: center;
    justify-content: center;
    padding-bottom: 1rem;
}

#amazon_logo {
    width: 10%;
}

.register_div {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 17%;
    margin: auto;
    padding: 0rem 1rem;
}

h1 {
    font-weight: lighter;
}

h4 {
    font-size: small;
    margin-bottom: 0.2rem;
}

h5 {
    font-weight: lighter;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

input {
    width: 95%;
    height: 1.5rem;
    padding: 3px 7px;
    text-align: start;
    letter-spacing: normal;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px 0px, rgba(0, 0, 0, 0.07) 0px 1px 0px 0px inset;
}

button {
    margin-top: 1rem;
    width: 100%;
    font-size: 13px;
    padding: 6px 1px;
    line-height: 19px;
    color: #111111;
    background-color:#f1c452;
    border-radius: 3px;
    border: 1px solid #967930;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px 0px inset;
    cursor: pointer;
}

.terms {
    font-size: 0.75rem;
}

.terms a {
    text-decoration: none;
    color: var(--amazon-blue);
}

.if_login {
    font-size: 0.85rem;
}

.if_login a {
    text-decoration: none;
    color: var(--amazon-blue);
}